{% extends 'base.html' %}

{% block main %}
  <!-- Primary Page Layout -->
  <div class="container">
   <h1>BIBFRAME</h1>
   <p class="">
          <a href="http://bibframe.org/">BIBFRAME</a>, short for Bibliographic Framework, is a Library of Congress 
          <a href="http://www.loc.gov/bibframe/">initiative</a> to replace <a href="http://www.loc.gov/marc/">MARC 21</a>
          with a Linked Data vocabulary. BIBFRAME is made up four major classes, Works, Instances, Annotations, and 
          Authorities.  
    </p>
   <div class="row">
    <section class="six columns">
     <img src="http://bibframe.org/static/images/bibframe.png" class="center-block">
    </section>
    <article class="six columns">
      <h4><a href="http://bibframe.org/vocab/Work.html">Works</a></h4>
      <p><em>"&hellip; a resource reflecting a conceptual essence of the cataloging resource." </em></p>
      <h3><a href="http://bibframe.org/vocab/Instance">Instances</a></h3>
      <p><em>"&hellip; a resource reflecting an individual, material embodiment of the Work."</em></p>
      <h3><a href="http://bibframe.org/vocab/Annotation">Annotations</a></h3>
      <p><em>"&hellip;  a resource that enhances our knowledge about another resource when knowing, 
       minimally, 'who' is doing the annotating is important.</em></p> 
      <h3><a href="http://bibframe.org/vocab/Authority">Authorities</a></h3>
      <p><em>"&hellip; a resource reflecting key authority concepts that have defined relationships 
      reflected in the Work and Instance. "</em></p>
      <p>BIBFRAME Graphic and Descriptions of major BIBFRAME classes taken from 
       <a href="http://bibframe.org/vocab-model/">http://bibframe.org/vocab-model/</a>
      </p>

    </article>
   </div>
   <div class="row">
     <section class="eleven columns">
      <h3>Pride &amp; Prejudice BIBFRAME RDF Graph</h3>
<pre>
<code>
@prefix bf: &lt;http://bibframe.org/vocab/&gt; .
@prefix bf2: &lt;http://bibframe.org/vocab2/&gt; .
@prefix madsrdf: &lt;http://www.loc.gov/mads/rdf/v1#&gt; .
@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .
@prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; .
@prefix relators: &lt;http://id.loc.gov/vocabulary/relators/&gt; .
@prefix xml: &lt;http://www.w3.org/XML/1998/namespace&gt; .
@prefix xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; .

&lt;http://catalog.coloradocollege.edu/4124646annotation12&gt; a bf:Annotation ;
    bf:annotates &lt;http://catalog.coloradocollege.edu/4124646&gt; ;
    bf:changeDate "1998-04-13T12:32" ;
    bf:derivedFrom &lt;http://catalog.coloradocollege.edu/4124646.marcxml.xml&gt; ;
    bf:descriptionConventions &lt;http://id.loc.gov/vocabulary/descriptionConventions/isbd&gt; ;
    bf:descriptionSource &lt;http://id.loc.gov/vocabulary/organizations/iqu&gt; ;
    bf:generationProcess "DLC transform-tool:2015-07-23-T17:01:00" .

&lt;http://catalog.coloradocollege.edu/4124646instance13&gt; a bf:Instance,
        bf:Monograph ;
    bf:dimensions "21 cm." ;
    bf:extent "435 p. :" ;
    bf:illustrationNote "ill. ;" ;
    bf:instanceOf &lt;http://catalog.coloradocollege.edu/4124646&gt; ;
    bf:instanceTitle &lt;http://catalog.coloradocollege.edu/4124646title16&gt; ;
    bf:modeOfIssuance "single unit" ;
    bf:providerStatement "Cleveland : Fine Editions Press, 1946." ;
    bf:publication [ a bf:Provider ;
            bf:providerDate "1946" ;
            bf:providerName [ a bf:Organization ;
                    bf:label "Fine Editions Press" ] ;
            bf:providerPlace [ a bf:Place ;
                    bf:label "Cleveland " ] ] ;
    bf:systemNumber [ a bf:Identifier ;
            bf:identifierAssigner "tbp" ;
            bf:identifierScheme &lt;http://id.loc.gov/vocabulary/identifiers/systemNumber&gt; ;
            bf:identifierValue ".b13135971" ] ;
    bf:titleStatement "Pride and prejudice" .

&lt;http://catalog.coloradocollege.edu/4124646classification10&gt; a bf:Classification ;
    bf:classificationNumber "PR4034" ;
    bf:classificationScheme "" .

&lt;http://catalog.coloradocollege.edu/4124646classification9&gt; a bf:Classification ;
    bf:classificationNumber "PR4034.P7 1946b" ;
    bf:classificationScheme "" .

&lt;http://catalog.coloradocollege.edu/4124646person6&gt; a bf:Person ;
    bf:authorizedAccessPoint "Austen, Jane, 1775-1817." ;
    bf:hasAuthority [ a madsrdf:Authority ;
            madsrdf:authoritativeLabel "Austen, Jane, 1775-1817." ] ;
    bf:label "Austen, Jane, 1775-1817." .

&lt;http://catalog.coloradocollege.edu/4124646person7&gt; a bf:Person ;
    bf:authorizedAccessPoint "Cirlin, Edgard, 1913-" ;
    bf:hasAuthority [ a madsrdf:Authority ;
            madsrdf:authoritativeLabel "Cirlin, Edgard, 1913-" ] ;
    bf:label "Cirlin, Edgard, 1913-" .

&lt;http://catalog.coloradocollege.edu/4124646title16&gt; a bf:Title ;
    bf:label "Pride and prejudice / Jane Austen ; with illustrations by Edgard Cirlin." ;
    bf:titleValue "Pride and prejudice" .

&lt;http://catalog.coloradocollege.edu/4124646title5&gt; a bf:Title ;
    bf:label "Pride and prejudice / Jane Austen ; with illustrations by Edgard Cirlin." ;
    bf:titleValue "Pride and prejudice" .

&lt;http://catalog.coloradocollege.edu/4124646&gt; a bf:Text,
        bf:Work ;
    bf:authorizedAccessPoint "Austen, Jane, 1775-1817. Pride and prejudice / Jane Austen ; with illustrations by Edgard Cirlin.Pride and prejudice",
        "austenjane17751817cirlinedgard1913prideandprejudiceengworktext"@x-bf-hash ;
    bf:classification &lt;http://catalog.coloradocollege.edu/4124646classification10&gt;,
        &lt;http://catalog.coloradocollege.edu/4124646classification9&gt; ;
    bf:contributor &lt;http://catalog.coloradocollege.edu/4124646person7&gt; ;
    bf:creator &lt;http://catalog.coloradocollege.edu/4124646person6&gt; ;
    bf:language &lt;http://id.loc.gov/vocabulary/languages/eng&gt; ;
    bf:workTitle &lt;http://catalog.coloradocollege.edu/4124646title5&gt; .



</code>
</pre>
     </section>
   </div>
  </div>
{% endblock %}

{% block slide_nav %}
<div class="container">
  <a href="{{ url_for('slide', name='semantic-web') }}" class="button slide-nav">&lt;&lt; Semantic Web</a>
  <a href="{{ url_for('slide', name='early-experiments') }}" class="button slide-nav u-pull-right button-primary">Early Experiments &gt;&gt;</a>
</div>
{% endblock %}
