{% extends 'base.html' %}

{% block main %}
  <!-- Primary Page Layout -->
  <div class="container">
   <h1>Library Legacy Data</h1>
   <p>The Library of Congress in the late 1960s proposed an electronic 
    library format called MARC for <strong>MA</strong>chine <strong>R</strong>eadable
    <strong>C</strong>arrier. 
  </div>
{% endblock %}

{% block slide_nav %}
<div class="container">
<a href="{{ url_for('slide', name='library-catalog') }}" class="button slide-nav">&lt;&lt; The Library Catalog</a>
<a href="{{ url_for('slide', name='semantic-web') }}" class="button slide-nav u-pull-right button-primary">Semantic Web &gt;&gt;</a>
</div>
{% endblock %}

