{% extends 'base.html' %}

  {% block main %}
  <!-- Primary Page Layout -->
  <div class="container">

    <div class="row">
      <div class="eight column" style="margin-top: 5%">
        <img src="{{ url_for('static', filename='images/cc-tiger-logo.png') }}" class="u-pull-right">
       
        <h1>Building a Better Catalog</h1>
        <h2>Colorado College's Collaboration with the Library of Congress</h2>
        <h4>Jeremy Nelson<br>Metadata and Systems Librarian<br>Colorado College</h4>
       
        <p>
         Tutt Library's research collaboration with the Library of Congress started in 2013 based on 
         Jeremy Nelson's research and  <a href="http://bibcat.org">experiments</a> with 
         <a href="http://bibframe.org/">BIBFRAME</a>
         a linked-data vocabulary used in building new cloud-based semantic web services for libraries 
         and their associated institutions. 
         Colorado College, is one of a handful of institutions, including Columbia, Cornell, Stanford, 
         that are exploring how BIBFRAME can be used to extend library's physical and digital assets 
         into smart and discoverable collections.
       </p>
      </div>
    </div>
    <a href="{{ url_for('slide', name='library-catalog') }}" class="button slide-nav">The Library Catalog</a>
    <a href="{{ url_for('slide', name='legacy-data-formats') }}" class="button slide-nav">Legacy Data Formats</a>
    <a href="{{ url_for('slide', name='semantic-web') }}" class="button slide-nav">Semantic Web</a>
    <a href="{{ url_for('slide', name='bibframe') }}" class="button slide-nav">BIBFRAME</a>
    <a href="{{ url_for('slide', name='early-experiments') }}" class="button slide-nav">Early Experiments</a>
    <a href="{{ url_for('slide', name='bibcat') }}" class="button slide-nav">BIBCAT</a>
    <a href="{{ url_for('slide', name='tiger-catalog') }}" class="button slide-nav">TIGER Catalog</a>
  </div>
  <hr>
  <div class="container">
  Presentation source code available at <a href="https://github.com/jermnelson/cc-parents-day-2015">https://github.com/jermnelson/cc-parents-day-2015</a>. Questions? E-mail
  <a href="mailto:jeremny.nelson@coloradocollege.edu">jeremny.nelson@coloradocollege.edu</a>
  </div> 
 {% endblock %}

